<div class="smart-chat" #scrollContainer (scroll)="onUserScroll()">
  <div class="smart-chat__content">
      @for (message of messages(); track $index) {
        <div class="smart-chat__content-prompt">
          {{ message.prompt }}
        </div>
        <div class="smart-chat__content-response">
          <img class ="smart-chat__content-response-icon" src="/assets/logo.svg" alt="Icon" width="32" height="32" />
          <markdown  clipboard [data]="message.response"> </markdown>
        </div>
      }
  </div>
  <mat-form-field class="smart-textfield">
    <textarea [formControl]="promptMessage" (keydown.enter)="onEnter($event)"  matInput [placeholder]="'Message chat'"></textarea>
    <span class="smart-chat__form-action">
      <button mat-button [disabled]="promptMessage.invalid"  (click)="sendRequest($event)">
        <mat-icon class="chat-form__icon">arrow_upward_alt</mat-icon>
      </button>
    </span>
  </mat-form-field>
</div>
