$icon-light-color: #7c7390;
$icon-dark-color: #4a435e;
$button-light-bg: #a7a3bf;
$button-dark-bg: #5b586a;
$button-dark-hover-bg: #3a3147;
$prompt-light-bg: #e8e8e880;
$prompt-dark-bg: #322f36;
$pre-light-border: rgba(197, 197, 197, 0.5);
$pre-light-bg: rgba(197, 197, 197, 0.1);
