@use '@angular/material' as mat;
@use 'themes/twilight';
@import "colours";

@include mat.core();

@mixin default-theme($mode) {
  @if $mode == 'light' {
    background: var(--mat-app-background-color);
    color: var(--mat-app-text-color);

    @include mat.all-component-themes(twilight.$light-theme);
    .mat-icon:not(.chat-form__icon),
    .mat-mdc-menu-item .mat-icon {
      color: $icon-light-color;
    }

    svg {
      fill: $icon-light-color;
    }

    .smart-chat__content-prompt {
      background: $prompt-light-bg
    }
    .smart-textfield {
      background:var(--mat-app-background-color)
    }

    .smart-chat__form-action {
      .mdc-button:not(:disabled) {
        background: $button-light-bg;
        .chat-form__icon {
          color: white;
        }
      }
    }
      .material-icons {
        color: $button-light-bg
      }

    pre {
      border: $pre-light-border;
    }

    pre[class*=language-] {
      background: white;
    }
    .smart-code__title {
      background:$prompt-light-bg;
      border-bottom: white solid 0.01px;
    }

  }

  @if ($mode == 'dark') {
    @include mat.all-component-themes(twilight.$dark-theme);
    background: var(--mat-app-background-color);
    color: var(--mat-app-text-color);

    .mdc-switch--selected .mdc-switch__icon {
      fill: $icon-light-color;
    }
    .mdc-switch:enabled:focus:active .mdc-switch__track::after,
    .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after,
    .mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after,
    .mdc-switch__track::after {
      background: $icon-dark-color;
    }
    .mdc-switch--selected:enabled:focus:not(:active) .mdc-switch__handle::after {
      background: $button-dark-hover-bg;
    }

    .material-icons,
    .mat-icon,
    .mat-mdc-menu-item .mat-icon {
      color: $icon-dark-color;
    }

    svg {
      fill: $icon-dark-color;
    }

    .smart-code__title {
      background: #3e394c;
      color: $button-light-bg;
    }
    .smart-textfield {
      background:var(--mat-app-background-color)
    }

    .smart-chat__content-prompt {
      background: $prompt-dark-bg
    }
    .smart-chat__form-action {
      .mdc-button:not(:disabled) {
        background: $button-dark-bg;
        .chat-form__icon {
          color: #d2d1e6;
        }
      }
    }
      .material-icons {
        color: $icon-dark-color
      }
  }
}
