:host {
  width: 100%;
}

.smart-nav__container {
  display: flex;
  justify-content: flex-end;
}

.smart-nav__theme-toggle {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.smart-button {
  ::ng-deep .mdc-switch__icon {
    display: none;
  }
}
