.smart-sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
  display: flex;
}

.smart-sidenav__content-button {
  display: flex;
  align-items: center;

  svg {
    display: inherit;
    align-items: inherit;
  }
}
